.navbar-outer-div{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-inner-div{
    height: 4rem;
    width: 98%;
    border-radius: 40px;
    background-color: rgb(37, 37, 37);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-inner-div h2{
    color: white;
    margin: 16px 16px;
    font-family: 'Space Grotesk';
    

}

.navbar-login-button {
    height: 45px;
    width: 80px;
    border-radius: 40px;
    font-family: 'Space Grotesk';
    font-weight: bold;
    cursor: pointer;
    margin: 10px 15px;
    color: rgb(24, 24, 24);
    background-color: white; 
    border: none; 
    
    transition: box-shadow 0.3s ease, transform 0.1s ease; 
}

.navbar-login-button:hover {
    
    transform: scale(1.03); 
}
